[submodule "addmc/libraries/cxxopts"]
	path = addmc/libraries/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "addmc/libraries/cudd"]
	path = addmc/libraries/cudd
	url = https://github.com/vuphan314/cudd
[submodule "addmc/libraries/sylvan"]
	path = addmc/libraries/sylvan
	url = https://github.com/vuphan314/sylvan
[submodule "addmc/libraries/cryptominisat"]
	path = addmc/libraries/cryptominisat
	url = https://github.com/msoos/cryptominisat
